<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Category.css">
    <title>Category</title>
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <h2>Menu</h2>
            <ul>
                <li><a href="/category">Categories</a></li>
                <li><a href="/products">Products</a></li>
            </ul>
        </nav>

        <main class="content">
            <header>
                <h1>Category</h1>
            </header>

            <section id="products">
                <h2>Category</h2>
                <p>Find our latest categories here.</p>

                
     

                <button class="add-category-btn" id="search-btn">Search Category by ID</button>

                
                <form id="search-form" class="category-form" style="display: none;" action="/category/search" method="POST">
                    <div class="form-group">
                        <label for="category-id">Enter Category ID:</label>
                        <input type="number" id="id" name="id" required placeholder="Category ID">
                    </div>
                    <button type="submit" class="submit-btn">Search</button>
                </form>

            </section>
            
        </main>
    </div>

    <script>
        const searchBtn = document.getElementById('search-btn');
        const searchForm = document.getElementById('search-form');


        searchBtn.addEventListener('click', () => {
            if (searchForm.style.display === 'none') {
                searchForm.style.display = 'block';
            } else {
                searchForm.style.display = 'none';
            }
        });
    </script>
</body>
</html>
