<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Product.css">
    <title>Delete Product</title>
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <h2>Menu</h2>
            <ul>
                <li><a href="/category">Categories</a></li>
                <li><a href="/products">Products</a></li>
            </ul>
        </nav>

        <main class="content">
            <header>
                <h1>Delete Product</h1>
            </header>

            <section id="products">
                <h2>Are you sure you want to delete this product?</h2>

                <form id="delete-form" class="product-form" action="/products/deleteProduct/<%= product.Product_id %>?_method=DELETE" method="POST">
                    <button type="submit" class="submit-btn">Yes</button>
                    <button><a href="/products" class="submit-btn">No</a></button>
                </form>
            </section>
        </main>
    </div>
</body>
</html>
